$backgroundColor: #363740;
$secondaryBackgroundColor: #f7f8fc;
$whiteColor: #fff;
$secondaryWhiteColor: #dfe0eb;
$blackColor: #000;
$fontColor: #252733;
$lightBlue: rgba(221, 226, 255, 1);
$greyColor: #9fa2b4;
$buttonColor: #3751ff;
$whiteGrayColor: #f0f1f7;
$lightGrey: #fcfdfe;
$placeholders: #4b506d;
$subtitleColor: '#a4a6b3';
$shadows: '#3751ff3d';
$icons: '#c5c7cd';
$lightBlueOpacity: #dde2ff14;
