@import './assets/fonts/fonts';
@import './styles/vars.utils';

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $fontColor;
  background-color: $buttonColor;
}

.link {
  text-decoration: none;
  color: inherit;
}

.menu__link {
  width: 100%;
  text-decoration: none;
  color: $greyColor;
}

.message-link {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  outline: none;
  transition-duration: 0.3s;
  scroll-behavior: smooth;

  font-family: 'Mulish', sans-serif;
}
